/* Add stored options for main and secondary colours used in site */
:root {
  --mainColor: #3c1934;
  --mainColorOP: #3c1934a0;
  --secondaryColor: #aa3619;
  --secondaryColorOP: #aa361980;
}

html {
  max-width: 1280px;
  background-color: var(--mainColor);
  color: white;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 50px;
  background-color: white;
  color: var(--mainColor);
}

.container {
  width: 100%;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  padding: 10px;
  margin: 5px auto;
}

.jumbotron {
  text-align: center;
  background-color: var(--mainColor);
  color: white;
  border-radius: 0;
  min-height: 250px;
}

.task {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  background-color: white;
}

.row {
  white-space: pre-wrap;
  min-height: 80px;
  /* border-top: 1px solid white; */
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  /* border-top: 1px dashed #000000; */
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
}

.past {
  background-color: var(--mainColorOP);
}

.present {
  background-color: var(--secondaryColor);
}

.future {
  background-color: var(--secondaryColorOP);
}

.saveBtn,
.clearBtn {
  background-color: var(--mainColor);
  color: white;
  border-radius: 10px;
}

.saveBtn i,
.clearBtn i {
  font-size: 20px;
}

.saveBtn:hover,
.clearBtn:hover {
  background-color: white;
  transform: scale(1.05);
  transform-origin: center;
}

.saveBtn:hover i,
.clearBtn:hover i {
  font-size: 25px;
  color: var(--mainColor);
  transition: all 0.3s ease-in-out;
}

.type {
  padding: 5px;
  border: none;
  background: transparent;
  color: white;
}
